.canteen_header{
    display:flex;
    justify-content: space-between;
    margin: 2rem;
}

.canteen_header-title {
    font-weight: 600;
    text-transform: uppercase;
    /* margin-left: 2rem; */
}

.canteen_header-search {
    width: 35rem;
    border-radius: 30px;
    padding: 0.5rem 2rem;
}

.canteen_header-search:focus {
    outline: none;
}