
.sidebar {
    width: 15rem;
    box-shadow: .4rem 0 .4rem -2px lightgray
}
.sidebar ul li{
    padding: 1rem 1rem;
}

ul {
    list-style-type: none;
    margin:0;
}

.sidebar ul li:visited{
    background-color: lightgray;
    border-left: 7px solid green;
}